@media (max-width: 1024px) {
    .pre-title{
        font-size: 20px;
    }
    .hero_section-info .-h1{
        font-size: 33px;
    }
    .about_us .container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .buyer_guid .container{
        display: flex;
        flex-direction: column;
        align-items: center;
    } 

    .some_light_reading .container{
        display: flex;
        flex-direction: column;
        align-items: center;
    } 

    .about_us-info{
        order: 0;
        text-align: center;
    }
    .about_us-img{
        order: 1;
    }

    .water_info{
        background: #292C32;
        position: absolute;
        bottom: 40px;
        right: 10px;
        border-radius: 16px;
    }
    .water_info-list{
        font-size: 9px;
    }
    .heading-title{
        font-size: 30px;
    }
    .buyer_guid-info{
        text-align: center;
    }
    .buyer_guid-list{
        flex-direction: column;
    }
    .buyer_guid-item{
        padding: 10% 0;
    }
    .some_light_reading-img{
        order: 2;
    }
    .some_light_reading-info{
        text-align: center;
    }
    .footer_input{
    padding: 5%;
    text-align: center;
    }
    .footer_menu{
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-around;
    }
    .footer_logo{
        margin: 0;
    }
    .about_us-img-media{
        width: 100%;
    }
    .header_menu{
        flex-direction: column;
        background: #fff;
        position: absolute;
        top: -600px;
        left: 0;
        right: 0;
        align-items: center;
        z-index: 99;
        transition: top .5s ease;
    }
    .header_menu.show{
        top: 80px;
    }

    .menu_button{
        display: flex;
        flex-direction: column;
        gap: 5px;
        padding: 0 15px;
    }

    .menu_button span{
        width: 20px;
        height: 2px;
        border-radius: 50px;
        background: #292C32;
        transition: transform .5s ease;
    }

    .menu_button.active span:nth-child(1){
        transform: rotate(45deg);
    }
    .menu_button.active span:nth-child(2){
        display: none;
    }
    .menu_button.active span:nth-child(3){
        transform: rotate(-45deg);
        margin-top: -7px;
    }

    .header_list{
        flex-direction: column;
        margin: 10px 5px;
        gap: 10px;
    }
    .header_buttons{
        flex-direction: column;
        margin: 5px 5px;
        gap: 10px;
    }
    .header_item-link{
        font-size: 15px;
    }
    .header_buttons-cart{
        gap: 18px;
    }
    /* .header .container{
        flex-direction: row;
    } */
    .some_light-img-adaptive{
        width: 100%;
    }
}
@media (max-width: 768px) {
    .hero_section-info .-h1{
        font-size: 30px;
    }
    .hero_section-info{
        text-align: center;
    }
    .input_text{
        padding: 10px;
    }
    .header_item-link{
        font-size: 15px;
    }
    .our_promise_bg{
        width: 100%;
    }
}
@media (max-width: 480px){
    .water_info-list{
        text-align: center;
        display: flex;
        flex-direction: column;
    }
    .water_info{
        position: absolute;
        bottom: 20px;
        right: 20px;
    }
    .about_us_bg_image{
        width: 100%;
    }
    .our_promise_bg-image{
        width: 100%;
    }
}



    
    