/* clean styles start */
body{
    margin: 0%;
    font-family: 'Poppins', sans-serif;
}
ul{
    list-style: none;
    margin: 0%;
    padding: 0%;
}
a{
    text-decoration: none;
    color: #444;
}
li{ 
    display: inline-block;
}
/* clean styles end */

/* General settings start */
.heading-title{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.-h1{
    font-size: 48px;
}

.-h2{
    font-size: 36px;
}

.container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

/* General settings end */

/* header start */

.header{
    padding: 20px 0px;
}

.header .container{
    display: flex;
    justify-content: space-between;
}

.logo img{
    max-width: 130px;
    width: 100%;
}

.header_menu{
    display: flex;
}
.header_list{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_item{
    margin: 0 15px;
}

.header_item-link{
    font-size: 13px;
}

.header_buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 25px;
}
.header_buttons-link{
    font-size: 16px;
    padding: 13px 33px;
    background-color: #575445;
    color: #FFFFFF;
    text-decoration: none;
    border-radius: 6px;
    margin: 0 10px;
}

/* header end */

/* main start */

/* Hero section start */
.hero_section{
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    background: url(../images/background.png) no-repeat center center;
    background-size: cover;

    /* background-image: url(../images/background.png);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center; */
}


/* Hero section end */


/* header end */